<div class="row max-height">
	<div class="col-xs-12 col-sm-8 max-height">
		<div id="user-stories-panel" class="panel panel-default">
			<div class="panel-body">
				<div id="user-stories-list" class="row clearfix">
				</div>
			</div>
			<div id="status-panel" class="panel-footer">
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 max-height">
		<div id="workers-panel" class="panel panel-default">
			<div class="panel-heading">
				Workers
			</div>
			<div class="panel-body">
				<ul id="workers-list" class="list-group"></ul>
			</div>
		</div>

		<ul id="log-panel" class="list-group">
		</ul>
	</div>
</div>

